@charset "UTF-8";
/**
 * @Autor	: Diego Lepera
 * @E-mail	: dlepera88@gmail.com
 * @Projeto	: FrameworkDL
 * @Data	: 12/05/2015 22:10:50
 */
/**
 * @Autor	: Diego Lepera
 * @E-mail	: d_lepera@hotmail.com
 * @Projeto	: FrameworkDL
 * @Data	: 18/12/2014 17:05:58
 */
/**
 *  Flex
 *  -------
 *  Transformar uma caixa em uma caixa flexivel
 */
/**
 *  Flex
 *  -------
 *  Definir as propriedades dos itens flexiveis
 */
/**
 *  Flex
 *  -------
 *  Definir o comportamento dos itens flexiveis
 */
/**
 *  Tamanho
 *  ----------
 *  Configurar como o tamanho de um elemento
 *  deve ser configurado
 */
/**
 *  Transformar
 *  ----------
 *  Incluir efeitos no objeto
 */
/**
 *  Animar
 *  ----------
 *  Efeito de transicao
 */
/**
 * @Autor	: Diego Lepera
 * @E-mail	: d_lepera@hotmail.com
 * @Projeto	: FrameworkDL
 * @Data	: 15/01/2015 11:58:21
 */
/* Tela --------------------------------------------------------------------- */
/* Grade Flexivel ----------------------------------------------------------- */
/* Visual ------------------------------------------------------------------- */
/* Menu de navegacao -------------------------------------------------------- */
/* Ícones -------------------------------------------------------------------- */
/**
 *  Vetor com todos os ícones as serem criados
 * -----------------------------------------------------------------------------
 *  @format - classe cor icone
 */
/* -----------------------------------------------------------------------------
 *  Formulários
 * -------------------------------------------------------------------------- */
form .form-controle {
  /* Visual */
  border: 1px solid #DDD;
  border-radius: 8px;
  background: #FFF;
  /* Texto */
  font-size: 0.85em;
  /* Tamanho */
  height: 3em;
  /* Margens */
  padding: 0 .35em; }
form .form-numero, form .form-data {
  /* Tamanho */
  width: auto !important; }
form .form-cor {
  /* Visual */
  border: none;
  /* Tamanho */
  width: 3em;
  height: 3em;
  /* Visual */
  background: transparent; }
form .form-textarea {
  /* Tamanho */
  height: 15em;
  /* Margens */
  padding: .5em; }
form .form-grupo {
  /* Visual */
  border: none; }
  form .form-grupo > .form-legenda {
    /* Texto */
    color: orange;
    font-variant: small-caps;
    font-size: 1.3em;
    line-height: 1.75em;
    /* Visual */
    border-bottom: 1px dashed #CCC;
    /* Tamanho */
    width: 100%; }
form .form-grupo:not(:first-of-type) {
  /* Margens */
  margin-top: 2em; }
form .form-paragr {
  /* Margens */
  margin: 1em 0; }
form .form-rotulo {
  /* Visual */
  display: inline-block;
  /* Texto */
  line-height: 2em; }
form .form-dica {
  /* Texto */
  color: #999; }
form .form-dica:before {
  /* Texto */
  content: '\ea09';
  font-family: 'icones';
  color: #069;
  /* Alinhamento */
  vertical-align: middle;
  /* Margens */
  margin-right: .35em;
  padding: .35em 0;
  /* Visual */
  display: inline-block; }
form .form-botoes {
  /* Texto */
  text-align: center; }
  form .form-botoes > *:not(:first-child) {
    /* Margens */
    margin-left: 4em; }
form [class^="btn-"] {
  /* Visual */
  border: none;
  background: none;
  /* Texto */
  font-size: 1em;
  /* Margens */
  padding: .5em 0; }
form [class^="btn-"]:before {
  /* Texto */
  font-family: 'icones';
  font-size: 1.2em;
  /* Visual */
  display: inline-block;
  /* Alinhamento */
  vertical-align: middle;
  /* Margens */
  margin-right: .35em; }
form [class^="btn-"]:hover {
  /* Visual */
  cursor: pointer; }
form .btn-salvar {
  /* Texto */
  color: green; }
form .btn-salvar:before {
  /* Texto */
  content: ""; }
form .btn-cancelar {
  /* Texto */
  color: red; }
form .btn-cancelar:before {
  /* Texto */
  content: ""; }
form .btn-filtrar {
  /* Texto */
  color: #AAA; }
form .btn-filtrar:before {
  /* Texto */
  content: ""; }
form .btn-entrar {
  /* Texto */
  color: green; }
form .btn-entrar:before {
  /* Texto */
  content: ""; }
form .btn-enviar {
  /* Texto */
  color: #aabbff; }
form .btn-enviar:before {
  /* Texto */
  content: ""; }
form .btn-upload {
  /* Texto */
  color: #069; }
form .btn-upload:before {
  /* Texto */
  content: ""; }
form .form-alternar {
  /* Tamanho */
  width: 0;
  height: 0;
  /* Posicionamento */
  position: fixed;
  top: -9999px;
  left: -9999px;
  /* Visual */
  opacity: 0; }
form .form-alternar + label {
  /* Visual */
  display: inline-block;
  border-radius: 30px;
  border: 2px solid #d5d5d5;
  background: #EFEFEF;
  /* Tamanho */
  width: 5em;
  height: 3em;
  /* Posicionamento */
  position: relative; }
form .form-alternar + label:hover {
  /* Visual */
  cursor: pointer; }
form .form-alternar + label:before {
  /* Visual */
  background: #FFF;
  border-radius: 50%;
  display: block;
  /* Tamanho */
  width: 3em;
  height: calc(3em - 2px);
  /* Texto */
  content: 'Não';
  line-height: calc(3em - 1px);
  text-align: center;
  color: #d5d5d5;
  /* Posicionamento */
  position: absolute;
  top: -1px;
  left: 0;
  /* Transicoes */
  -webkit-transition: left 0.5s;
  -o-transition: left 0.5s;
  -moz-transition: left 0.5s;
  transition: left 0.5s;
  /* Visual */
  border-right: 1px solid #bcbcbc;
  border-left: none; }
form .form-alternar:checked + label {
  /* Visual */
  background: #ebfee7;
  border-color: #71f854; }
form .form-alternar:checked + label:before {
  /* Texto */
  content: 'Sim';
  color: #2edd09;
  /* Posicionamento */
  left: calc(50% - 9px);
  /* Visual */
  border-right: none;
  border-left: 1px solid #48f623; }

/* Fomulário de filtro ------------------------------------------------------ */
.form-filtro {
  /* Margens */
  margin-bottom: 2%; }

/* Desktops ----------------------------------------------------------------- */
@media screen and (min-width: 1001px) {
  form .form-controle {
    /* Tamanho */
    width: 30%; } }
/* Tablets ------------------------------------------------------------------ */
@media screen and (min-width: 801px) and (max-width: 1000px) {
  form .form-controle {
    /* Tamanho */
    width: 60%; } }
/* Smatphones --------------------------------------------------------------- */
@media screen and (max-width: 800px) {
  form .form-controle {
    /* Tamanho */
    width: 100%; } }
