/**
 * @Autor	: Diego Lepera
 * @E-mail	: d_lepera@hotmail.com
 * @Projeto	: FrameworkDL
 * @Data	: 15/01/2015 11:58:21
 */

/* Tela --------------------------------------------------------------------- */
$tela-smart     : 800px;
$tela-tablet    : 1000px;
$grid-tamanho-x : 90%;
$grid-tamanho-y : auto;

/* Grade Flexivel ----------------------------------------------------------- */
$flex-qtde-cols: 6;

/* Visual ------------------------------------------------------------------- */
$borda-suave    : 1px solid #EFEFEF;
$sombra-padrao  : 0 0 5px rgba(0,0,0,4/10);

/* Menu de navegacao -------------------------------------------------------- */
$cf-mnnv-altura: 3em;

/* Ícones -------------------------------------------------------------------- */
/**
 *  Vetor com todos os ícones as serem criados
 * -----------------------------------------------------------------------------
 *  @format - classe cor icone
 */
$icos: 'inserir' #65bb0e '\e70a',
    'editar' orange '\e606',
    'remover' red '\e70f',
    'detalhes' #1291b5 '\e622',
    'email' #aabbff '\e785',
    'bloquear' #9f2626 '\e68f',
    'desbloquear' #65bb0e '\e690',
    'voltar' #900 '\e667',
    'duvida' #069 '\e709',
    'publicar' #65bb0e '\e661',
    'nao-publicar' #BBB '\e660',
	'lista' #DB4437 '\e6bb',
    'home' #3C90A1 '\e600';