/**
 * @Autor	: Diego Lepera
 * @E-mail	: d_lepera@hotmail.com
 * @Projeto	: FrameworkDL
 * @Data	: 19/12/2014 17:46:27
 */

@import '../../_help/compatibilidade.scss';
@import '../../_help/configuracoes.scss';
@import '../_help/cores.scss';
@import '../_help/configuracoes.scss';

/* -----------------------------------------------------------------------------
 *  Conteudo
 * -------------------------------------------------------------------------- */
dl3-conteudo{
    /* Visual */
    background-color: $c-cont-fundo;
    
    /* Texto */
    color: $c-cont-txt;
    
    a{
        /* Texto */
        color: $c-cont-links;
    }
    
    a:hover{
        /* Texto */
        color: $c-cont-links-h;
    }
}
