/**
 * @Autor	: Diego Lepera
 * @E-mail	: dlepera88@gmail.com
 * @Projeto	: FrameworkDL
 * @Data	: 12/05/2015 21:29:50
 */



@import '../../_ajuda/compatibilidade.scss';
@import '../_ajuda/configuracoes.scss';



/* -----------------------------------------------------------------------------
 *  Links com icones
 * -------------------------------------------------------------------------- */
$_ln: 2.1em;
$_mg: .5em;

.com-icone{
	/* Visual */
	display: inline-block;

	/* Margens */
	margin-top 		: $_mg;
	margin-bottom 	: $_mg;
}

.com-icone:before{
    /* Visual */
    display 		: inline-block;
	border-radius 	: 50%;
    
    /* Texto */
    font-family : 'icones';
    text-align  : center;
    line-height : $_ln + .15em;
    font-size   : 1em; 
    
    /* Alinhamento */
    vertical-align: middle;
    
    /* Tamanho */
    width   : $_ln;
    height  : $_ln;

	/* Margens */
	margin-right: .35em;

	/* Transição */
	@include _transition(background-color .5s);
}

.so-icone{
    /* Texto */
	color 		: transparent !important;
	text-indent : -9999px;
	word-break 	: break-all;

	/* Tamanho */
	width 	: $_ln + ($_ln * .5);
	height 	: $_ln;

	/* Posicionamento */
	position: relative;

	/* Visual */
	display: inline-block;
}

.so-icone:before{
    @extend .com-icone:before;

	/* Margens */
	margin-left : $_mg;
	margin-right: $_mg;

	/* Posicionamento */
	position: absolute;
	left 	: 0;
}



/* -----------------------------------------------------------------------------
 *  Montar os ícones
 * -------------------------------------------------------------------------- */
@each $ico in $icos{
    $cl: nth($ico,1);
    $co: nth($ico,2);
    $ic: nth($ico,3);
    
    .ico-#{$cl}{
        /* Texto */
        color: $co;
    }
    
    .ico-#{$cl}:before{
        /* Texto */
        content     : $ic;
        color       : $co !important;
        text-indent : 0;

		/* Teste */
		background-color: lighten($co, 45%);
    }

	.ico-#{$cl}:hover:before{
		/* Visual */
		background-color: lighten($co, 37.5%);
	}
}
