/**
 * @Autor	: Diego Lepera
 * @E-mail	: dlepera88@gmail.com
 * @Projeto	: FrameworkDL
 * @Data	: 12/05/2015 22:10:50
 */


@import '../../_ajuda/compatibilidade.scss';
@import '../_ajuda/configuracoes.scss';


/* -----------------------------------------------------------------------------
 *  Formulários
 * -------------------------------------------------------------------------- */
$btn: 'salvar' green '\e710',
    'cancelar' red '\e70d',
    'filtrar' #AAA '\e686',
    'entrar' green '\e713',
    'enviar' #aabbff '\e784',
    'upload' #069 '\e6c3';
    
form{
    .form-controle{
        /* Visual */
        border          : 1px solid #DDD;
        border-radius   : 8px;
        background      : #FFF;
        
        /* Texto */
        font-size: 0.85em;
        
        /* Tamanho */
        height: 3em;
        
        /* Margens */
        padding: 0 .35em;

	    &-cor{
		    /* Visual */
		    border: none;

		    /* Tamanho */
		    width   : 3em;
		    height  : 3em;

		    /* Visual */
		    background: transparent;
	    }

	    &-textarea{
		    /* Tamanho */
		    height: 15em;

		    /* Margens */
		    padding: .5em;
	    }
    }
    
    /* .form-numero,.form-data{
        /* Tamanho *
        width: auto !important;
    } */
    
    .form-grupo{
        /* Visual */
        border: none;
        
        > .form-legenda{
            /* Texto */
            color       : orange;
            font-variant: small-caps;
            font-size   : 1.3em;
            line-height : 1.75em; 
            
            /* Visual */
            border-bottom: 1px dashed #CCC;
            
            /* Tamanho */
            width: 100%;
        }
    }
    
    .form-grupo:not(:first-of-type):not([class*="col-"]){
        /* Margens */
        margin-top: 2em;
    }
    
    .form-paragr{
        /* Margens */
        margin: 1em 0;
    }
    
    .form-rotulo{
        /* Visual */
        display: inline-block;

        /* Texto */
        line-height: 2em;
    }

    .form-dica{
        /* Texto */
        color: #999;

	    /* Visual */
	    display: inline-block;

	    /* Posicionamento */
	    position: relative;

	    /* Margens */
	    margin-left: 1.35em;
	    padding: .35em 0;
    }

    .form-dica:before{
	    $pos: calc(-100% - .35em);

        /* Texto */
        content     : '\e709';
        font-family : 'icones';
        color       : #069;

	    /* Posicionamento */
	    position: absolute;
	    left: 0;
	    top: 50%;

		/* Transformar */
	    @include _transform(translateX($pos) translateY(-50%));
    }
    
    .form-botoes{
        /* Texto */
        text-align: center;

		/* Margens */
		margin-top: 1em;
        
        > *:not(:first-child){
            /* Margens */
            margin-left: 4em;
        }
    }
    
    [class^="btn-"]{
        /* Visual */
        border      : none;
        background  : none;

        /* Texto */
        font-size: 1em;

        /* Margens */
        padding: .5em 0;
    }

    [class^="btn-"]:before{
        /* Texto */
        font-family : 'icones';
        font-size   : 1.2em;

        /* Visual */
        display: inline-block;

        /* Alinhamento */
        vertical-align: middle;

        /* Margens */
        margin-right: .35em;
    }

    [class^="btn-"]:hover{
        /* Visual */
        cursor: pointer;
    }

    @each $bt in $btn{
        $cl: nth($bt,1);
        $co: nth($bt,2);
        $ic: nth($bt,3);

        .btn-#{$cl}{
            /* Texto */
            color: $co;
        }

        .btn-#{$cl}:before{
            /* Texto */
            content: $ic;
        }
    }
    
    .form-alternar{
        /* Tamanho */
        width   : 0;
        height  : 0;
        
        /* Posicionamento */
        position: fixed;
        top     : -9999px;
        left    : -9999px;
        
        /* Visual */
        opacity: 0;
    }
    
    $cf: #EFEFEF; 
    $cb: darken($cf,10%);
    
    .form-alternar + label{
        /* Visual */
        display         : inline-block;
        border-radius   : 30px;
        border          : 2px solid $cb;
        background      : $cf;
        
        /* Tamanho */
        width   : 5em;
        height  : 3em;
        
        /* Posicionamento */
        position: relative;
    }
    
    .form-alternar + label:hover{
        /* Visual */
        cursor: pointer;
    }
    
    .form-alternar + label:before{
        /* Visual */
        background      : #FFF;
        border-radius   : 50%;
        display         : block;
        
        /* Tamanho */
        width   : 3em;
        height  : calc(3em - 2px);
        
        /* Texto */
        content     : 'Não';
        line-height : calc(3em - 1px);
        text-align  : center;
        color       : $cb;
        
        /* Posicionamento */
        position: absolute;
        top     : -1px;
        left    : 0;
        
        /* Transicoes */
        @include _transition(left .5s);
        
        /* Visual */
        border-right: 1px solid darken($cb,10%);
        border-left : none;
    }
    
    $cf: #ebfee7;
    $cb: darken($cf,30%);
    
    .form-alternar:checked + label{
        /* Visual */
        background  : $cf;
        border-color: $cb;
    }
    
    .form-alternar:checked + label:before{
        /* Texto */
        content     : 'Sim';
        color       : darken($cb,20%);
        
        /* Posicionamento */
        left: calc(50% - 9px);
        
        /* Visual */
        border-right: none;
        border-left : 1px solid darken($cb,10%);
    }
}



/* Fomulário de filtro ------------------------------------------------------ */
.form-filtro{
    /* Margens */
    margin-bottom: 2%;
}



/* Desktops ----------------------------------------------------------------- */
@media screen and (min-width:$tela-tablet + 1px){
    form{
        .form-controle{
	        &-texto, &-textarea, &-email, &-select, &-busca {
		        /* Tamanho */
		        width: 30%;
	        }
        }
    }
}



/* Tablets ------------------------------------------------------------------ */
@media screen and (min-width:$tela-smart + 1px) and (max-width:$tela-tablet){
    form{
        .form-controle{
	        &-texto, &-textarea, &-email, &-select, &-busca {
		        /* Tamanho */
		        width: 60%;
	        }
        }
    }
}



/* Smatphones --------------------------------------------------------------- */
@media screen and (max-width:$tela-smart){
    form{
        .form-controle{
	        &-texto, &-textarea, &-email, &-select, &-busca {
		        /* Tamanho */
		        width: 100%;
	        }
        }
    }
}
