/**
 * @Autor	: Diego Lepera
 * @E-mail	: d_lepera@hotmail.com
 * @Projeto	: FrameworkDL
 * @Data	: 18/12/2014 22:30:39
 */

/* HTML */
$c-html-fundo   : #F4F7FB;
$c-html-txt     : initial;
$c-html-links   : orange;
$c-html-links-h : inherit;



/* Topo */
$c-topo-fundo   : none;
$c-topo-txt     : inherit;
$c-topo-logo    : #6a8397;



/* Menu de usuario */
$c-mnus-fundo       : transparent;
$c-mnus-txt         : #069;
$c-mnus-links       : #069;
$c-mnus-links-h     : #069;
$c-mnus-sub-fundo   : rgba(0,0,0,7/10);
$c-mnus-sub-links   : #FFF;
$c-mnus-sub-links-h : #FFF;



/* Menu de navegacao */
$c-mnnv-fundo       : #3C90A1;
$c-mnnv-txt         : #FFF;
$c-mnnv-links       : #FFF;
$c-mnnv-links-h     : orange;
$c-mnnv-sub-fundo   : #FFF;
$c-mnnv-sub-txt     : #AAA;
$c-mnnv-sub-links   : orange;
$c-mnnv-sub-links-h : orange;



/* Conteudo */
$c-cont-fundo   : #FFF;
$c-cont-txt     : inherit;
$c-cont-links   : inherit;
$c-cont-links-h : inherit;




/* Titulos de paginas */
$c-titulo-h1: #6a8397;
$c-titulo-h2: #6a8397;
$c-titulo-h3: initial;
$c-titulo-h4: initial;
$c-titulo-h5: initial;
$c-titulo-h6: initial;