/**
 * @Autor	: Diego Lepera
 * @E-mail	: d_lepera@hotmail.com
 * @Projeto	: FrameworkDL
 * @Data	: 19/12/2014 17:46:27
 */

@import '../../_help/compatibilidade.scss';
@import '../../_help/configuracoes.scss';
@import '../_help/cores.scss';
@import '../_help/configuracoes.scss';

/* -----------------------------------------------------------------------------
 *  Conteudo
 *  -> Cores
 * -------------------------------------------------------------------------- */
.dl3-conteudo{
    /* Visual */
    background-color: $c-cont-fundo;
    
    /* Texto */
    color: $c-cont-txt;
    
    > a{
        /* Texto */
        color: $c-cont-links;
    }
    
    > a:hover{
        /* Texto */
        color: $c-cont-links-h;
    }
}

/* -----------------------------------------------------------------------------
 *  Conteudo
 *  -> Visual e comportamento
 * -------------------------------------------------------------------------- */
.dl3-conteudo{
    /* Flex */
    @include _flex(100%);
    
    /* Margens */
    padding: 6em 2em 2em 2em;
    
    /* Visual */
    box-shadow: $sombra-padrao;
    
    /* Posicionamento */
    position: relative;
    
    > h1{
        /* Posicionamento */
        position: absolute;
        left    : 0;
        top     : 0;
        
        /* Tamanho */
        width: 100%;
        
        /* Margens */
        padding : 0 1.5em;
        margin  : 0;
        
        /* Texto */
        line-height : 2.5em;
        font-variant: small-caps;
        font-weight : normal;
        
        /* Visual */
        background: #ECF2FD;
    }
    
    > h2:not(.sub-h2){
        /* Visual */
        background: #fafafa;
        box-shadow: 0 0 2px rgba(0,0,0,.2);
        
        /* Margens */
        margin-bottom: 2em;
        
        /* Texto */
        line-height : 2.5em;
        text-align  : center !important;
        font-weight : bold;
        color       : #069;
        font-size   : 1.1em;
    }
}
