/**
 * @Autor	: Diego Lepera
 * @E-mail	: d_lepera@hotmail.com
 * @Projeto	: FrameworkDL
 * @Data    	: 18/01/2015 16:20:16
 */

@import '../../_help/compatibilidade.scss';
@import '../../_help/configuracoes.scss';
@import '../_help/cores.scss';
@import '../_help/configuracoes.scss';

/* -----------------------------------------------------------------------------
 * Formularios em geral
 * -------------------------------------------------------------------------- */
form{
    /* Campos e elementos do form */
    input, select, textarea{
        /* Visual */
        background      : #FFF;
        border          : $borda-suave;
        border-radius   : 8px;

        /* Tamanho */
        height: 3em;

        /* Margens */
        padding: 0 .5em;
    }
    
    textarea{
        /* Tamanho */
        height: 15em;
        
        /* Margens */
        padding: .5em;
    }
    
    input:focus, select:focus, textarea:focus{
        /* Visual */
        outline: none;
    }
    
    [type="checkbox"], [type="radio"]{
        /* Tamanho */
        width   : auto;
        height  : auto;
        
        /* Alinhamento */
        vertical-align: middle;
    }
    
    /* Botoes */
    .form-botoes{
        /* Margens */
        margin-top: 2em;
    }
    
    button{
        /* Visual */
        border      : none;
        background  : none;
        
        /* Margens */
        padding: 0 1.3em;
        
        /* Texto */
        line-height: 2.5em;
    }
    
    button:before{
        /* Texto */
        font-family : 'icones';
        font-size   : 1.2em;
        
        /* Alinhamento */
        vertical-align: middle;
        
        /* Margens */
        margin-right: .35em;
    }
    
    button:not(:last-child){
        /* Margens */
        margin-right: 2.5em;
    }
    
    /* Botao: Salvar */
    .btn-salvar{
        /* Visual */
        background      : green;
        border-radius   : 8px;
        
        /* Texto */
        color: #FFF;
    }
    
    .btn-salvar:before{
        /* Texto */
        content: 'X';
    }
    
    /* Botao: Cancelar */
    .btn-cancelar{
        /* Texto */
        color: #AAA;
    }
    
    .btn-cancelar:before{
        /* Texto */
        content: 'x';
    }
    
    .btn-cancelar:hover{
        /* Texto */
        color: red;
    }
    
    /* Botao: Filtrar */
    .btn-filtrar{
        /* Texto */
        color: #069;
    }
    
    .btn-filtrar:before{
        /* Texto */
        content: 'b';
    }
    
    /* Botao: Upload */
    .btn-upload{
        /* Texto */
        color: #FFF;
        
        /* Visual */
        background      : #5c9aff;
        border-radius   : 8px;
    }
    
    .btn-upload:before{
        /* Texto */
        content: 'J';
    }
    
    /* Botao: Entrar */
    .btn-entrar{
        /* Texto */
        color: #FFF;
        
        /* Visual */
        background      : #5c9aff;
        border-radius   : 8px;
    }
    
    .btn-entrar:before{
        /* Texto */
        content: 'I';
    }
    
    /* Nomes de campos */
    label{
        /* Visual */
        display: inline-block;
        
        /* Texto */
        line-height: 2em;
    }
    
    /* Grupos de campos */
    fieldset{
        /* Visual */
        border: none;
        
        /* Margens */
        padding: 0;
        
        > legend{
            /* Visual */
            border-bottom: 1px dashed #DDD;
            
            /* Texto */
            color       : orange;
            font-variant: small-caps;
            font-size   : 1.4em;
            line-height : 2em;
            
            /* Tamanho */
            width: 100%;
        }
    }
    
    /* Dicas do form */
    .form-dica{
        /* Texto */
        color: #BBB;
        
        /* Margens */
        margin-bottom: .35em;
        
        /* Visual */
        display: inline-block;
    }
    
    .form-dica:before{
        $c: #069;
        $t: 1.2em;
        
        /* Texto */
        content     : '?';
        color       : $c;
        text-align  : center;
        line-height : $t;
        
        /* Visual */
        border          : 1px solid $c;
        border-radius   : 50%;
        display         : inline-block;
        
        /* Alinhamento */
        vertical-align: middle;
        
        /* Tamanho */
        width   : $t;
        height  : $t;
        
        /* Margens */
        margin-right: .35em;
    }
    
    
    
    /* Toggle Sim ou Nao */
    [type='checkbox'].s-ou-n{
        /* Posicionamento */
        position: absolute;
        top     : -100%;

        /* Visual */
        visibility: hidden;
    }

    [type='checkbox'].s-ou-n + label{
        /* Tamanho */
        width   : 60px;
        height  : 3em;

        /* Visual */
        display         : inline-block;
        border-radius   : 25px;
        border          : 2px solid #DDD;
        cursor          : pointer;
        background-color: #EFEFEF;

        /* Posicionamento */
        position: relative;

        /* Texto */
        text-align  : right;
        color       : #AAA;
        
        /* Alinhamento */
        vertical-align: middle;
    }

    [type='checkbox'].s-ou-n:checked + label{
        /* Visual */
        background-color: #d6ffb2;
        border-color    : #9bfe8c;

        /* Texto */
        color: #7bd06d;
    }

    [type='checkbox'].s-ou-n + label:before{
        /* Posicionamento */
        position: absolute;
        top     : -1px;
        left    : 0;

        /* Visual */
        background-color: #FFF;
        border-radius   : 50%;

        /* Tamanho */
        width   : calc(3em - 2px);
        height  : calc(3em - 2px);

        /* Texto */
        text-align  : center;
        line-height : 3em;
        content     : 'N';

        @include _transition(left 0.2s);
    }

    [type='checkbox'].s-ou-n:checked + label:before{
        /* Posicionamento */
        left: calc(100% - 3em + 2px);

        /* Texto */
        content: 'S';
    }
}

form:not(:first-child){
    /* Margens */
    margin-top: 2em;
}



/* -----------------------------------------------------------------------------
 * Formulario: filtro
 * -------------------------------------------------------------------------- */
.form-filtro{
    /* Flex */
    @include _flex-box();
}



/* -----------------------------------------------------------------------------
 *  Formulario: Upload simples
 *  Contem apenas 1 campo para upload e o submit
 * -------------------------------------------------------------------------- */
.form-upload-simples{
    > .form-botoes{
        /* Margens */
        margin  : 0;
        padding : 0;
    }
}



/* -----------------------------------------------------------------------------
 *  Foto de perfil
 * -------------------------------------------------------------------------- */
.usr-alterar-foto{
    /* Visual */
    display: inline-block;
    
    /* Tamanho */
    width   : auto;
    height  : auto;
    
    /* Margens */
    margin  : 0;
    padding : 0;
    
    /* Posicionamento */
    position: absolute;
    right   : 2em;
    
    > #perfil-foto{
        /* Visual */
        opacity: 0;
        
        /* Tamanho */
        width   : 0;
        height  : 0;
        
        /* Posicionamento */
        position: absolute;
        top     : -9999px;
        left    : -9999px;
    }
    
    .msg-alterar-foto{
        /* Posicionamento */
        position: absolute;
        top     : 0;
        left    : 0;
        z-index : 1;
        
        /* Tamanho */
        width   : 100%;
        height  : 100%;
        
        /* Texto */
        color           : #FFF;
        text-align      : center;
        text-transform  : uppercase;
        
        /* Visual */
        background      : rgba(0,0,0,.5);
        border-radius   : 50%;
        opacity         : 0;
        
        /* Margens */
        padding: 1.7em 0;
        
        @include _transition(opacity .5s);
    }
}

.usr-alterar-foto:hover{
    .msg-alterar-foto{
        /* Visual */
        opacity: 1;
    }
}



/* Desktops */
@media screen and (min-width:$tela-tablet + 1px){
    form{
        input:not([type="checkbox"]):not([type="radio"]):not([type="number"]):not([type^="data"]):not([type="color"]),
        select, textarea{
            /* Tamanho */
            width: 35%;
        }
    }
    
    .form-filtro{
        input:not(:first-child), select:not(:first-child){
            /* Margens */
            margin-left: 1.5em;
        }
    }
}



/* Smartphones e Tablets */
@media screen and (max-width:$tela-tablet){
    form{
        input:not([type="checkbox"]):not([type="radio"]):not([type="number"]):not([type^="data"]):not([type="color"]),
        select, textarea{
            /* Tamanho */
            width: 100%;
        }
    }
    
    .form-filtro{
        /* Flex */
        @include _flex-flow(row wrap);
        
        input, select{
            /* Flex */
            @include _flex(100%);
            
            /* Margens */
            margin-bottom: 1.5em;
        }
    }
}