/**
 * @Autor	: Diego Lepera
 * @E-mail	: d_lepera@hotmail.com
 * @Projeto	: FrameworkDL
 * @Data	: 16/01/2015 22:38:33
 */

@import '../../_help/compatibilidade.scss';
@import '../../_help/configuracoes.scss';
@import '../_help/cores.scss';
@import '../_help/configuracoes.scss';

/* -----------------------------------------------------------------------------
 *  Tabela com lista de registros
 * -------------------------------------------------------------------------- */
$ttr: 2.5em; /* tamanho da tag tr */

table.lista{
    /* Margens */
    margin: 2em 0;
    
    /* Tamanho */
    width: 100%;
    
    /* Visual */
    border-collapse : collapse;
    border-spacing  : 0;
    
    > caption{
        /* Visual */
        background: #fafafa;
        box-shadow: 0 0 2px rgba(0,0,0,.2);
        
        /* Margens */
        margin-bottom: 2em;
        
        /* Texto */
        line-height : 2.5em;
        text-align  : center !important;
        font-weight : bold;
        color       : #069;
    }
    
    > thead{
        /* Texto */
        text-align  : left;
        color       : #888;
        
        /* Visual */
        border-bottom: $borda-suave;

        /* Texto */
        line-height: $ttr;
    }
    
    > tbody{
        > tr{
            /* Texto */
            line-height: $ttr;
            
            > td{
                /* Margens */
                padding: 0;
            }
        }
        
        > tr:nth-child(odd){
            /* Visual */
            background: #EFEFEF;
        }

        > tr:nth-child(even){
            /* Visual */
            background: #FFF;
        }

        > tr:hover,
        > .tr-selec{
            /* Visual */
            background: #dbebeb;
        }
    }
    
    > tfoot{
        /* Visual */
        border-top: $borda-suave;

        > tr{
            /* Texto */
            line-height: $ttr;
        }

        > .com-marcados{
            > td{
                /* Visual */
                background: url('icones/icone-com-marcados.png') no-repeat;

                /* Margens */
                padding-left: 35px;
            }
        }
    }
    
    /* TDs especificos */
    .td-id{
        /* Tamanho */
        width: 30px;

        /* Texto */
        text-align: center;
    }

    .td-opcoes{
        /* Tamanho */
        max-width: 10%;
    }
    
    .td-infos{
        /* Texto */
        color: #888;

        /* Margens */
        padding: .3em 0;
        
        /* Tamanho */
        width: 40%;

        > img{
            /* Tamanho */
            max-width   : 20%;
            height      : auto;

            /* Alinhamento */
            vertical-align: top;

            /* Posicionamento */
            float: left;
            
            /* Visual */
            background  : #FFF;
            border      : $borda-suave;
            
            /* Margens */
            padding     : .35em;
            margin-right: .35em;
        }
    }
    
    .td-infos:first-line{
        /* Texto */
        color       : #000;
        line-height : initial;
    }

    /* Remover o texto dos links com icones */
    .com-icone{
        /* Texto */
        color       : transparent;
        white-space : nowrap;
        
        /* Tamanho */
        width: 2em;
    }
    
    .com-icone:not(:last-child){
        /* Margens */
        margin-right: .5em;
    }
}



/* Desktops */
@media screen and (min-width:$tela-tablet + 1px){
    table.lista{
        > thead{ }
        
        > tbody{ }
        
        > tfoot{ }
    }
}



/* Tablets e smartphones */
@media screen and (max-width:$tela-tablet){
    table.lista{
        > thead{
            
        }
        
        > tbody{
            
        }
        
        > tfoot{
            
        }
    }
}
