/**
 * @Autor	: Diego Lepera
 * @E-mail	: d_lepera@hotmail.com
 * @Projeto	: FrameworkDL
 * @Data	: 16/01/2015 15:32:02
 */

/* -----------------------------------------------------------------------------
 * Links em geral
 * -------------------------------------------------------------------------- */
a{
    /* Texto */
    color: $c-html-links;
}

a:hover{
    /* Texto */
    color: $c-html-links-h;
}
