/**
 * @Autor	: Diego Lepera
 * @E-mail	: d_lepera@hotmail.com
 * @Projeto	: FrameworkDL
 * @Data	: 19/12/2014 17:41:35
 */

@import '../../_help/compatibilidade.scss';
@import '../../_help/configuracoes.scss';
@import '../_help/cores.scss';
@import '../_help/configuracoes.scss';

/* -----------------------------------------------------------------------------
 *  Menu principal
 * -------------------------------------------------------------------------- */
nav.dl3{
    /* Visual */
    background-color: $c-mnnv-fundo;
    
    /* Texto */
    color: $c-mnnv-txt;
    
    a{
        /* Texto */
        color: $c-mnnv-links;
    }
    
    a:hover{
        /* Texto */
        color: $c-mnnv-links-h;
    }
    
    > .sub-menu{
        /* Visual */
        background-color: $c-mnnv-sub-fundo;
        
        /* Texto */
        color: $c-mnnv-sub-txt;
        
        a{
            /* Texto */
            color: $c-mnnv-sub-links;
        }
        
        a:hover{
            /* Texto */
            color: $c-mnnv-sub-links-h;
        }
    }
}