@charset "utf-8";

/**
 *  @Autor  : Diego Lepera
 *  @E-mail : d_lepera@hotmail.com
 *  @Projeto: Framework MVC / Site
 *  @Data   : 26/03/2014
 */

/* --------------------------------------------------------------------------------------------------------------------------
 * DIV principal da mensagem de alerta
 * ----------------------------------------------------------------------------------------------------------------------- */
div.dl-formulario-mensagem.painel-dl.alerta{
    /* Margens */
    padding: 0;
    
    /* Tamanho */
    width   : 100%;
    height  : 100%;
    
    /* Posicionamento */
    position: fixed;
    top     : 0;
    left    : 0;
    z-index : 9;
    
    /* Texto */
    text-align: center;
    
    /* Visual */
    background: rgba(0,0,0,.6);
}

div.dl-formulario-mensagem.painel-dl.alerta > p > details{
    /* Texto */
    font-size   : .5em;
    text-align  : left;
    
    /* Margens */
    margin-top: .5em;
}

/* --------------------------------------------------------------------------------------------------------------------------
 * Contagem regressiva
 * ----------------------------------------------------------------------------------------------------------------------- */
div.dl-formulario-mensagem.painel-dl.alerta > span.cont-regressiva{
    /* Texto */
    color       : #FFF;
    font-size   : 1.3em;
    line-height : 3.6923007em;
    
    /* Visual */
    display: inline-block;
}

/* --------------------------------------------------------------------------------------------------------------------------
 * Parágrafo que contém a mensagem
 * ----------------------------------------------------------------------------------------------------------------------- */
div.dl-formulario-mensagem.painel-dl.alerta > p{
    /* Visual */
    background: #FFF;
    
    /* Tamanho */
    width       : 100%;
    max-height  : 60%;
    
    /* Posicionamento */
    position: relative;
    top     : 50%;
    z-index : 9;
    
    /* Transformações */
    transform: translateY(-50%);
    
    /* Margens */
    padding: 1% 10%;
    
    /* Texto */
    font-size   : 2em;
    text-align  : center;
    
    /* Animação */
    -webkit-animation-name      : para-direita-passando;
    -webkit-animation-duration  : .5s;
    -webkit-animation-fill-mode : 'forwards';
    animation-name              : para-direita-passando;
    animation-duration          : .5s;
    animation-fill-mode         : forwards;
}

div.dl-formulario-mensagem.painel-dl.alerta > p:before{
    /* Texto */
    font-family : 'icones';
    font-size   : 4em;
    
    /* Margens */
    margin-left : -1em;
    margin-right: .2em;
    
    /* Visual */
    opacity: .2;
    
    /* Alinhamento */
    vertical-align: middle;
}

/* --------------------------------------------------------------------------------------------------------------------------
 * Botão fechar
 * ----------------------------------------------------------------------------------------------------------------------- */
div.dl-formulario-mensagem.painel-dl.alerta > p > button{
    /* Visual */
    border-radius   : 50%;
    border          : 2px solid #FFF;
    
    /* Tamanho */
    width   : 3em;
    height  : 3em;
    
    /* Posicionamento */
    position: absolute;
    top     : -1.5em;
    right   : 10%;
    z-index : 10;
    
    /* Texto */
    color: #FFF;
}

/* --------------------------------------------------------------------------------------------------------------------------
 * Parágrafo que contém a mensagem e botão fechar: sucesso
 * ----------------------------------------------------------------------------------------------------------------------- */
div.dl-formulario-mensagem.painel-dl.alerta.msg-sucesso{ border: none; }

div.dl-formulario-mensagem.painel-dl.alerta.msg-sucesso > p{
    /* Texto */
    color: green;
}

div.dl-formulario-mensagem.painel-dl.alerta.msg-sucesso > p:before{
    /* Conteúdo */
    content: '\e710';
}

div.dl-formulario-mensagem.painel-dl.alerta.msg-sucesso > p > button{
    /* Visual */
    background: green;
}



/* --------------------------------------------------------------------------------------------------------------------------
 * Parágrafo que contém a mensagem e botão fechar: erro
 * ----------------------------------------------------------------------------------------------------------------------- */
div.dl-formulario-mensagem.painel-dl.alerta.msg-erro{ border: none; }

div.dl-formulario-mensagem.painel-dl.alerta.msg-erro > p{
    /* Texto */
    color: red;
}

div.dl-formulario-mensagem.painel-dl.alerta.msg-erro > p:before{
    /* Conteúdo */
    content: '\e70f';
}

div.dl-formulario-mensagem.painel-dl.alerta.msg-erro > p > button{
    /* Visual */
    background: red;
}


/* --------------------------------------------------------------------------------------------------------------------------
 * Parágrafo que contém a mensagem e botão fechar: atencao
 * ----------------------------------------------------------------------------------------------------------------------- */
div.dl-formulario-mensagem.painel-dl.alerta.msg-atencao > p{
    /* Texto */
    color: #069;
}

div.dl-formulario-mensagem.painel-dl.alerta.msg-atencao > p:before{
    /* Conteúdo */
    content: '\e70c';
}

div.dl-formulario-mensagem.painel-dl.alerta.msg-atencao > p > button{
    /* Visual */
    background: #069;
}